<ion-view title="{{name || 'Mix Maestro'}}">


  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="input in inputs | orderBy:id">
        <div>{{input.name}}: {{input.level | number:0}}dB</div>
        <div class="button-bar">
          <button class="button" ng-click="setLevel(input.id, input.level - 5.0)">-5</button>
          <button class="button" ng-click="setLevel(input.id, input.level - 1.0)">-1</button>
          <button class="button" ng-click="setLevel(input.id, input.level + 1.0)">+1</button>
          <button class="button" ng-click="setLevel(input.id, input.level + 5.0)">+5</button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>


</ion-view>