<ion-side-menus>


  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7"></ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu side="left">

    <header class="bar bar-header bar-stable">
      <h1 class="title">Mixes</h1>
    </header>

    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-repeat="mix in mixes | orderBy:id" ng-if="mix.name" href="#/app/mixes/{{mix.id}}">{{mix.name}}</ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>


</ion-side-menus>